* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid #eee;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
  }
  
  .logo a {
    font-family: 'Georgia', serif;
    font-size: 24px;
    font-weight: bold;
    color: #0c0c22;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    gap: 20px;
  }
  
  .menu li {
    list-style: none;
    font-weight: 600;
    font-size: 14px;
    color: #0c0c22;
    cursor: pointer;
  }
  
  .menu li:hover {
    text-decoration: underline;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .signup {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: #0c0c22;
    cursor: pointer;
    text-decoration: none;
  }
  
  .signup:hover {
    text-decoration: underline;
  }
  
  .login {
    background-color: #0c0c22;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 9999px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .login:hover {
    opacity: 0.9;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: rgba(37, 37, 176, 1);
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    height: 400px;
}

.form-group {
    padding-bottom: 15px;
}

#imagem-ilustrativa {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#imagem-ilustrativa img {
    max-width: 100%;
    height: auto;
    display: block;
}


#conteudo {
    display: inline-block;
    width: 45%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}
